VITE_SUPABASE_URL=https://ygqlzwvtalrfoslhrmmg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlncWx6d3Z0YWxyZm9zbGhybW1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMjcwMTEsImV4cCI6MjEwMDkwMzAxMX0.sUJHWAwke7wLTwbATJo9IgNUJWO6jR08XcV7TulWLmQ
SITE_URL=https://openwhenletters.in
